In [3]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [4]:
# reading ImdbTitleBasics.csv
title_file = "Resources/ImdbTitleBasics.csv"
title_df = pd.read_csv(title_file)

In [4]:
# Identifying the placeholder for "\\N" value
title_df.tail(1)

In [5]:
# Replacing  "\\N" value with Nan
title_df=title_df.replace(title_df.tail(1)["endYear"].to_list()[0],np.nan)

In [6]:
# reading ImdbTitleRatings.csv
ratings_file = "Resources/ImdbTitleRatings.csv"
ratings_df = pd.read_csv(ratings_file)

            tconst  averageRating  numVotes
1048570  tt7512616            9.0         5
1048571  tt7512624            5.5       931
1048572  tt7512632            3.4        33
1048573  tt7512636            6.4        22
1048574  tt7512670            7.0        49

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,1,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,2,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,3,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,4,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,5,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
1048570,10140376,tvSeries,Começar do Zero,Começar do Zero,0,2019,NaN,90,Reality-TV
1048571,10140378,tvEpisode,Corey Hart,Corey Hart,0,2019,NaN,NaN,Talk-Show
1048572,1014037,tvEpisode,Escape,Escape,0,2008,NaN,29,Documentary
1048573,10140380,short,Fear of Dogs,Fear of Dogs,0,1994,NaN,NaN,"Drama,Short"
1048574,10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),0,2019,NaN,NaN,Music

In [7]:
# Removing the first two symbols from the tconst column in order to use it as a integer PK
title_df['tconst'] = title_df['tconst'].str[2:]
title_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
1048570,10140376,tvSeries,Começar do Zero,Começar do Zero,0,2019,NaN,90,Reality-TV
1048571,10140378,tvEpisode,Corey Hart,Corey Hart,0,2019,NaN,NaN,Talk-Show
1048572,1014037,tvEpisode,Escape,Escape,0,2008,NaN,29,Documentary
1048573,10140380,short,Fear of Dogs,Fear of Dogs,0,1994,NaN,NaN,"Drama,Short"
1048574,10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),0,2019,NaN,NaN,Music

In [10]:
# converting the tconst to integer
title_df['tconst'] = title_df['tconst'].astype(int)

title_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,1,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,2,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,3,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,4,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,5,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
1048570,10140376,tvSeries,Começar do Zero,Começar do Zero,0,2019,NaN,90,Reality-TV
1048571,10140378,tvEpisode,Corey Hart,Corey Hart,0,2019,NaN,NaN,Talk-Show
1048572,1014037,tvEpisode,Escape,Escape,0,2008,NaN,29,Documentary
1048573,10140380,short,Fear of Dogs,Fear of Dogs,0,1994,NaN,NaN,"Drama,Short"
1048574,10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),0,2019,NaN,NaN,Music

In [11]:
# converting the tconst to integer
ratings_df['tconst']=ratings_df['tconst'].str[2:].astype(int)
ratings_df

          tconst  averageRating  numVotes
0              1            5.6      1694
1              2            6.0       210
2              3            6.5      1441
3              4            6.1       122
4              5            6.1      2240
...          ...            ...       ...
1048570  7512616            9.0         5
1048571  7512624            5.5       931
1048572  7512632            3.4        33
1048573  7512636            6.4        22
1048574  7512670            7.0        49

[1048575 rows x 3 columns]

In [12]:
# Renaming the columns
title_df_renamed = title_df.rename(columns={"tconst":"id",'titleType':'type','primaryTitle':'primarytitle','originalTitle':'originaltitle','startYear':'year','runtimeMinutes':'runtime' })
title_df_renamed

,id,type,primarytitle,originaltitle,isAdult,year,endYear,runtime,genres
0,1,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,2,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,3,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,4,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,5,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
1048570,10140376,tvSeries,Começar do Zero,Começar do Zero,0,2019,NaN,90,Reality-TV
1048571,10140378,tvEpisode,Corey Hart,Corey Hart,0,2019,NaN,NaN,Talk-Show
1048572,1014037,tvEpisode,Escape,Escape,0,2008,NaN,29,Documentary
1048573,10140380,short,Fear of Dogs,Fear of Dogs,0,1994,NaN,NaN,"Drama,Short"
1048574,10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),0,2019,NaN,NaN,Music

In [13]:
# Renaming the columns
ratings_df_clean = ratings_df.rename(columns={"tconst":"id", 'averageRating':'ratings','numVotes':'votes'})
ratings_df_clean

              id  ratings  votes
0              1      5.6   1694
1              2      6.0    210
2              3      6.5   1441
3              4      6.1    122
4              5      6.1   2240
...          ...      ...    ...
1048570  7512616      9.0      5
1048571  7512624      5.5    931
1048572  7512632      3.4     33
1048573  7512636      6.4     22
1048574  7512670      7.0     49

[1048575 rows x 3 columns]

In [14]:
# Dropping two columns
title_df_clean = title_df_renamed.drop(columns=["endYear", "isAdult"])
title_df_clean

,id,type,primarytitle,originaltitle,year,runtime,genres
0,1,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
1,2,short,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short"
2,3,short,Pauvre Pierrot,Pauvre Pierrot,1892,4,"Animation,Comedy,Romance"
3,4,short,Un bon bock,Un bon bock,1892,12,"Animation,Short"
4,5,short,Blacksmith Scene,Blacksmith Scene,1893,1,"Comedy,Short"
...,...,...,...,...,...,...,...
1048570,10140376,tvSeries,Começar do Zero,Começar do Zero,2019,90,Reality-TV
1048571,10140378,tvEpisode,Corey Hart,Corey Hart,2019,NaN,Talk-Show
1048572,1014037,tvEpisode,Escape,Escape,2008,29,Documentary
1048573,10140380,short,Fear of Dogs,Fear of Dogs,1994,NaN,"Drama,Short"
1048574,10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),2019,NaN,Music

In [15]:
# Dropping any duplicates with the same id
title_df_clean=title_df_clean.drop_duplicates(subset=['id'])

In [18]:
# Replacing all the NaN values with 0 and converting the year and runtime columns to integer
title_df_clean = title_df_clean.replace(np.nan, 0)
title_df_clean['year']=title_df_clean['year'].astype(int)
title_df_clean['runtime']=title_df_clean['runtime'].astype(int)
title_df_clean

,id,type,primarytitle,originaltitle,year,runtime,genres
0,1,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
1,2,short,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short"
2,3,short,Pauvre Pierrot,Pauvre Pierrot,1892,4,"Animation,Comedy,Romance"
3,4,short,Un bon bock,Un bon bock,1892,12,"Animation,Short"
4,5,short,Blacksmith Scene,Blacksmith Scene,1893,1,"Comedy,Short"
...,...,...,...,...,...,...,...
1048570,10140376,tvSeries,Começar do Zero,Começar do Zero,2019,90,Reality-TV
1048571,10140378,tvEpisode,Corey Hart,Corey Hart,2019,0,Talk-Show
1048572,1014037,tvEpisode,Escape,Escape,2008,29,Documentary
1048573,10140380,short,Fear of Dogs,Fear of Dogs,1994,0,"Drama,Short"
1048574,10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),2019,0,Music

In [19]:
# Dropping any duplicates with the same id
ratings_df_clean=ratings_df_clean.drop_duplicates(subset=['id'])

In [20]:
# Setting the id column as index
title_df_clean.set_index("id", inplace=True)
title_df_clean

,type,primarytitle,originaltitle,year,runtime,genres
id,,,,,,
1,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
2,short,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short"
3,short,Pauvre Pierrot,Pauvre Pierrot,1892,4,"Animation,Comedy,Romance"
4,short,Un bon bock,Un bon bock,1892,12,"Animation,Short"
5,short,Blacksmith Scene,Blacksmith Scene,1893,1,"Comedy,Short"
...,...,...,...,...,...,...
10140376,tvSeries,Começar do Zero,Começar do Zero,2019,90,Reality-TV
10140378,tvEpisode,Corey Hart,Corey Hart,2019,0,Talk-Show
1014037,tvEpisode,Escape,Escape,2008,29,Documentary
10140380,short,Fear of Dogs,Fear of Dogs,1994,0,"Drama,Short"
10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),2019,0,Music

In [21]:
# Setting the id column as index
ratings_df_clean.set_index("id", inplace=True)
ratings_df_clean

         ratings  votes
id
1            5.6   1694
2            6.0    210
3            6.5   1441
4            6.1    122
5            6.1   2240
...          ...    ...
7512616      9.0      5
7512624      5.5    931
7512632      3.4     33
7512636      6.4     22
7512670      7.0     49

[1048575 rows x 2 columns]

In [22]:
# Establishing a connection with postgres
connection_string = "postgres:postgres@localhost:5432/imdb_db"
engine = create_engine(f'postgresql://{connection_string}')

In [23]:
# checking table's names
engine.table_names()

['imdbtitleratings', 'imdbtitlebasics']

In [24]:
# Load DataFrames into database
title_df_clean.to_sql(name='imdbtitlebasics', con=engine, if_exists='append', index=True)

In [25]:
ratings_df_clean.to_sql(name='imdbtitleratings', con=engine, if_exists='append', index=True)

In [26]:
# Confirm data has been added by querying the customer_location table
pd.read_sql_query('select * from imdbtitleratings', con=engine).head()

   id ratings votes
0   1     5.6  1694
1   2     6.0   210
2   3     6.5  1441
3   4     6.1   122
4   5     6.1  2240

In [30]:
pd.read_sql_query('select * from imdbtitlebasics', con=engine).head()

Empty DataFrame
Columns: [id, type, primarytitle, originaltitle, year, runtime, genres]
Index: []

In [29]:
# Checking if the two tables could be joined
pd.read_sql_query('SELECT * FROM ImdbTitleRatings INNER JOIN ImdbTitleBasics ON ImdbTitleBasics.id=ImdbTitleRatings.id ', con=engine).head()

Empty DataFrame
Columns: [id, ratings, votes, id, type, primarytitle, originaltitle, year, runtime, genres]
Index: []