In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
title_file = "Resources/ImdbTitleBasics.csv"
title_df = pd.read_csv(title_file)
title_df.tail()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1048570,tt10140376,tvSeries,Começar do Zero,Começar do Zero,0,2019,\N,90,Reality-TV
1048571,tt10140378,tvEpisode,Corey Hart,Corey Hart,0,2019,\N,\N,Talk-Show
1048572,tt1014037,tvEpisode,Escape,Escape,0,2008,\N,29,Documentary
1048573,tt10140380,short,Fear of Dogs,Fear of Dogs,0,1994,\N,\N,"Drama,Short"
1048574,tt10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),0,2019,\N,\N,Music

In [9]:
ratings_file = "Resources/ImdbTitleRatings.csv"
ratings_df = pd.read_csv(ratings_file)
ratings_df.tail()

            tconst  averageRating  numVotes
1048570  tt7512616            9.0         5
1048571  tt7512624            5.5       931
1048572  tt7512632            3.4        33
1048573  tt7512636            6.4        22
1048574  tt7512670            7.0        49